
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #ff6601 27%, rgba(64, 0, 255, 0.486) 92%);
 
    /* para hacer el fix de imagen */
    /* el vh para imagen en caso de que no ande */
   /*width: 100vh;
    font-style: normal;
    color: rgb(0, 0, 0); */
}
header{
    text-align: center;
    font-size: 20px;
}
legend{
    text-align: center;
    margin-top: 80px;
}
button{
    margin-top: 20px ;
}
.lear{
    background-color: rgba(255, 255, 255, 0.438);
    vertical-align: middle;
    height: 270px;
    width: 500px;
    position: relative;
    margin-left: 490px;
    margin-top: 20px;
    box-shadow:  5px 5px black;
}

label{
    background-color:rgba(255, 255, 255, 0);
}
    